Source: lxc-tools
Section: admin
Priority: optional
Maintainer: Philipp A. Baer <phbaer-github@npw.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.2
Homepage: http://github.com/phbaer/lxc-tools

Package: lxc-tools
Section: admin
Architecture: all
Depends: lxc, ${misc:Depends}
Suggests: screen
Description: Linux containers userspace tools
 Containers are insulated areas inside a system, which have their own namespace
 for filesystem, network, pids, ipc, cpu and memory allocation and which can be
 created using the Control Group and Namespace features included in recent Linux
 Kernels.
 .
 This package contains:
 .
 * An init script for dealing with containers on startup/shutdown
 * lxc-debian - a (slightly) improved version of the lxc-debian that ships with
   lxc, for building debian based containers
 * lxc-ubuntu - a (slightly) modified version of the new lxc-debian for Ubuntu
   Lucid
 * lxc-halt - a script for safely shutting down a container (which the init
   script will use)
 * lxc-status - dumps running/not running state of all containers
 * lxc-provider - a suite of scripts and configuration files helps you make
   "ready to run" lxc containers

